
@font-face {
    font-family: 'Russo One';
    src: url('../css/fonts/RussoOne-Regular.ttf');
}

@font-face {
    font-family: 'Berlin Sans Demi';
    src: url('../css/fonts/BRLNSDB.TTF');
}

@font-face {
    font-family: 'Berlin Sans Bold';
    src: url('../css/fonts/BRLNSB.TTF');
}

div.connector {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 3px;
    height: 3px;
    background-color: rgba(25, 255, 55, 1);
}

div.pointer {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: rgba(25, 255, 55, 1);
    border-radius: 50%;
}

div.pointer_pressed {
    width: 30px;
    height: 30px;
    background-color: rgba(115, 255, 155, 1);
}


div.point {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}

div.dom_player {
    position: absolute;
    top: -15px;
    left: -60px;
    width: 120px;
    height: 30px;
    text-align: center;
    background-color: rgba(185, 55, 55, 1);
}


div.my_color {
    background-color: rgba(4, 165, 85, 1);
}


canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Russo One';
    font-weight: 400;
    position: absolute;
    background-color: #000;
    font-size: 10pt;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #fff;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

#game_window {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}


